{% extends 'main.html'%}
{% block content %}


<div>
    
    
    <div><a href="{% url 'create-room' %}">Create Room</a></div>
    <hr>
    <div>
        {%for room in rooms %}

        <div>
            <a href= "{% url 'update-room' room.id %}">Edit</a> <a href= "">Delete</a>
        </div>
        <div>
            <small>{{room.id}}-----ROOM NAME: <a href="{% url 'room' room.id %}"> {{room.name}} </a></small>
        <hr>
        </div>

        {% endfor %}
        
    </div>
</div>

{% endblock content %}