{% extends 'main.html'%}
{% block content %}
    <b>Host: </b>@{{room.host.username}}
    <hr>
   <b> Topic: </b>{{room.topic.name}}
    <hr>
   <b> Room: </b>{{room.name}}
    <hr>
    <b>Description: </b>{{room.description}}
    <hr>
    <b>Last Update:  </b>{{room.updated}}
    <hr>
    <b>Created: </b>{{room.created}}

    <div class="comment-wrapper">
        <h3> Conversations</h3><hr>
        <div>
        {% for messages in room_messages %}

            <small>{{messages.user}} {{messages.created|timesince}}--ago</small>
            <p>{{messages.body}}</p>
            <hr>
        {% endfor %}
        </div>
    </div>



{% endblock %}